/* .thumbnail-md {
    width: 450px;
    height: 300px;
    /* max-width: 450px; */
/* } */

body {
    padding-bottom: 3em;
}

.navbar {
    padding: 0 1rem;
}

.active {
    background-color: rgb(224, 224, 224);
}

.form {
    width: 50%;
    margin: 25px auto;
}




div.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 24px;
}



.avatar-profile {
    width: 240px;
    height: 240px;
}

.comment {
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin: 0px -9px 0 -9px; */
    /* top, right, bottom, left */
}

.comment-form {
    width: 100%
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}


.comment:nth-of-type(even){
    background-color: rgba(0,0,0,.03);
}
.comment:nth-of-type(odd){
    background-color: #dcdcdc;
}

.alternate-colours:nth-of-type(even){
    background-color: rgba(0,0,0,.03);
}
/* .alternate-colours:nth-of-type(odd){
    background-color: #dcdcdc;
} */


div.form-group.row i{
    /* background: pink;
    height: 100%; */
    padding-left: 4px;
    text-align: center;
    font-size: 1.5em;
}

.form-group.row {
    margin-left: 0;
    margin-right: 0;
}

.img-preview {
    /* max-width: 30%; */
    max-height: 240px;
    object-fit: contain;
    background-color: transparent;
    border: none;
}

.img-thumbnail {
    padding: 0;
    /* opacity: 0; */
    /* text-align: center; */
}

img.showpage {
    width: 100%;
    /* height: 508px;
    object-fit: cover; */
}

.img-index {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.jumbotron {
    text-align: center;
}

.jumbotron h1{
    font-size: 3em;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .jumbotron h1{
        font-size: 3em;
    }
    .img-index{
        height: 150px;
    }

 }

 /* show icon inline from here */
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .jumbotron {
        text-align: left;
    }
    .jumbotron h1{
        font-size: 4em;
    }
    .img-index{
        height: 107px;
    }

 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .img-index{
        height: 150px;
    }
    /* img.showpage {
        height: 688px;
    } */
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .jumbotron h1{
        font-size: 5em;
    }
    .img-index{
        height: 183px;
    }
 }