/* .thumbnail-md {
    width: 450px;
    height: 300px;
    /* max-width: 450px; */
/* } */

body {
    padding-bottom: 3em;
}

.navbar {
    padding: 0 1rem;
}

.active {
    background-color: rgb(224, 224, 224);
}

.form {
    width: 50%;
    margin: 25px auto;
}

.img-thumbnail {
    padding: 0;
    /* opacity: 0; */
    /* text-align: center; */
}

.img-thumbnail img.showpage {
    width: 100%;

}

.img-preview {
    /* max-width: 30%; */
    max-height: 240px;
    object-fit: contain;
    background-color: transparent;
    border: none;
}

.avatar-profile {
    width: 240px;
    height: 240px;
}

.comment {
    width: 100%;
    padding: 0;
    margin: 0;
    /* margin: 0px -9px 0 -9px; */
    /* top, right, bottom, left */
}

.comment-form {
    width: 100%
}

.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}


.comment:nth-of-type(even){
    background-color: rgba(0,0,0,.03);
}
.comment:nth-of-type(odd){
    background-color: #dcdcdc;
}

.alternate-colours:nth-of-type(even){
    background-color: rgba(0,0,0,.03);
}
/* .alternate-colours:nth-of-type(odd){
    background-color: #dcdcdc;
} */


div.form-group.row i{
    /* background: pink;
    height: 100%; */
    padding-left: 4px;
    text-align: center;
    font-size: 1.5em;
}

.form-group.row {
    margin-left: 0;
    margin-right: 0;
}